# Mac icons cache
.DS_Store

# Secure environment files
.env

.venv/

# Temp files from the setup process
setup/temp/

# MongoDB data volume
data/*

# All below this point is uncategorized (categorize them!)
