# pylint python linter configuration

[MASTER]
init-hook='import sys; sys.path.append("/apps/backend")' # https://stackoverflow.com/questions/1899436/pylint-unable-to-import-error-how-to-set-pythonpath
disable=
    C0301, # line too long
    C0114, # missing-module-docstring
    C0116, # missing-function-docstring
    C0115, # missing-class-docstring
    C0103, # we chose to use camel case to be consistent with our frontend code
