[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
kubernetes = "*"
flask-cors = "*"
pytest-cov = "*"

[dev-packages]
# libmagic dlls for windows hosts https://pypi.org/project/python-magic/ (when missing, vague errors and it crashes)
python-magic-bin = {version = "*", markers = "platform_system == 'Windows'"}
yapf = "*"
pylint = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.8"
