body {
    background: #5b84b1ff;
}

.navbar {
    background-color: #fc766aff;
    color: #5b84b1ff;
}
#fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #fc766aff;
    color: #5b84b1ff;
    z-index: 999;
}
#fab:active {
    transform: translateY(2px);
    opacity: 0.8;
}
.card {
    margin: 10px 0;
}
.hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
#listPage .card-title,
#listPage .card-text {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.form-control {
    background-color: #fc766aff;
    color: black;
}

.form-control:active{
    color: white;
}

.page-container {
    margin-top: 75px;
}
.btn-primary{
    color: #fc766aff;
    background-color: rgb(255, 255, 255);
    outline-color: #fc766aff;
}